<% layout('layout/boilerplate') %>
    <div class="container justify-content-center mt-5">
        <div class="row">
            <div class="col-md-6 offset-md-3 col-xl-4 offset-xl-4">
                <div class="card shadow">
                    <div class="card-body">
                        <img src="https://media.istockphoto.com/id/1297349747/photo/hot-air-balloons-flying-over-the-botan-canyon-in-turkey.webp?b=1&s=170667a&w=0&k=20&c=1oQ2rt0FfJFhOcOgJ8hoaXA5gY4225BA4RdOP1RRBz4="
                            alt="" class="card-img-top">
                        <h5 class="card-title mt-4">Login</h5>
                        <form action="/login" method="POST" class="validated-form" novalidate>
                            <div class="mb-3">
                                <label class="form-label" for="username">Username</label>
                                <input class="form-control" type="text" name="username" id="username" autofocus required>
                                <div class="valid-feedback">
                                    Looks Good!
                                </div>
                            </div>

                            <div class="mb-3">
                                <label class="form-label" for="password">Password</label>
                                <input class="form-control" type="password" name="password" id="password" required>
                                <div class="valid-feedback">
                                    Looks Good!
                                </div>
                            </div>
                            <div class="d-grid gap-2"><button class="btn btn-success">Login</button></div>
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>